/Npc_Pos_Parser/PTS_Scritps/npc_pch.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos.txt
/target/
/.idea/
/Npc_Pos_Parser/PTS_Scritps/npcpos_Beleth_clones.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_cata_necr.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_events.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_fantasy_island.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_fortresses.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_hellbound.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_IoP.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_kamaloka_pailaka.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_premium_manager.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_somthingSpawnForHB.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_treasure_box.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_test.txt
/Npc_Pos_Parser/PTS_Scritps/npcpos_Dimensional Rift.txt
/Npc_Pos_Parser/XML_Out/*
/Npc_Pos_Parser/PTS_Scritps/*
/Npc_Pos_Parser/lib/compile/*
